[Unit]
Description=VSCode Instance - Vaeris (NovaOps)
After=network.target gnome-keyring.service
Requires=gnome-keyring.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=x
Environment=DISPLAY=:20
Environment=XAUTHORITY=/home/x/.Xauthority
ExecStart=/usr/bin/code \
    --user-data-dir=/home/x/.config/Code-Isolated/vaeris \
    --extensions-dir=/home/x/.vscode-isolated/vaeris/extensions \
    /data-nova/ax/NovaOps
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target